.vis-item.dogfight {
    margin: 0px !important;
    padding: 0px !important;
    background-color:white !important;
    border:solid black !important;
    border-radius: 50% !important;
} 

.vis-item.vis-selected{
    border-radius: 50% !important;
    background-color: black !important;
    border: 0 !important
}
.vis-item.vis-background.victory {
    background-color: rgba(35, 138, 14, 0.2)  !important;
  }
.vis-item.vis-background.defeat{
    background-color: rgba(255, 0, 0, 0.2)  !important;
}
.vis-item.vis-background.inconclusive{
    background-color: rgba(83, 83, 83, 0.2) !important;
}
.vis-item .vis-item-overflow {
    overflow: visible !important;
  }