.vis-item.dogfight {
    margin: 0px !important;
    padding: 0px !important;
    border-width: 0px !important;
    background-color:grey !important;
    border-radius: 50% !important;
} 

.vis-item.vis-selected{
    border-radius: 50% !important;
    background-color:black !important
}
.vis-item.vis-background.victory {
    background-color: rgba(35, 138, 14, 0.2)  !important;
  }
.vis-item.vis-background.defeat{
    background-color: rgba(255, 0, 0, 0.2)  !important;
}
.vis-item.vis-background.inconclusive{
    background-color: rgba(83, 83, 83, 0.2) !important;
}
.vis-item .vis-item-overflow {
    overflow: visible !important;
  }

ul {
list-style-type: none;
padding: 0;
}
li {
    list-style-type: none;
    padding: 0;
    }



div.jqcloud {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 10px;
    line-height: normal;
    }
div.jqcloud {
    overflow: hidden;
    position: relative;
    }
    
    div.jqcloud span { padding: 0; }

div.jqcloud span.w10 { font-size: 550%; }
div.jqcloud span.w9 { font-size: 500%; }
div.jqcloud span.w8 { font-size: 450%; }
div.jqcloud span.w7 { font-size: 400%; }
div.jqcloud span.w6 { font-size: 350%; }
div.jqcloud span.w5 { font-size: 300%; }
div.jqcloud span.w4 { font-size: 250%; }
div.jqcloud span.w3 { font-size: 200%; }
div.jqcloud span.w2 { font-size: 150%; }
div.jqcloud span.w1 { font-size: 100%; }


